<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<h1>Bem vindo ao sistema do SEMAD</h1>
 <p> selecione uma opção</p>
    <ul>
           <li><%= link_to "Funcionarios" , funcionarios_path  %></li>
           <li> <%= link_to "Visitantes" , visitantes_path  %></li>
    </ul>
